<h1>All Shelters</h1>
<%= link_to "Pet Index", '/pets' %>
<br><br><br>

<% @shelters.each do |shelter|%>
  <h2><%= shelter.name %></h2>
  <%= link_to "Visit This Shelter", "/shelters/#{shelter.id}" %>
  <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit" %>
  <%= link_to "Delete This Shelter", "/shelters/#{shelter.id}", method: :delete %>

  <br><br>
<% end %>
<br><br><br><br><br>
<%= link_to "New Shelter", "/shelters/new" %>
