<h1>Available For Adoption From <%= @shelter.name %> </h1>

<br><br>

<% @adoptable_pets.each do |pet| %>
  <p><%= image_tag pet.image %></p>
  <h2><%= pet.name %></h2>
  <p><%= pet.approximate_age %></p>
  <p><%= pet.sex %></p>
<% end %>

<br><br>

<%= button_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
